@import "../../app.scss";
.about {
  background: linear-gradient(180deg, #14142e, #111132);
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .wrapper {
    text-align: left;
    margin: 0px 40px;

    @include mobile {
      width: auto;
      justify-content: center;
      margin: 0px 20px;
    }

    h1 {
      font-size: 50px;
    }

    .skills {
      margin-top: 100px;
      @include mobile {
        margin-top: 50px;
      }
      img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
        @include mobile {
          width: 45px;
          height: 45px;
        }
      }
    }
  }
}
